#button {
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: 1px;
}

#button:hover {
    background-color: green;
}

.input {
    display: flex;
    justify-content: center;
}

.new {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

.added-tasks {
    display: flex;
    justify-content: center;
}

li {
    max-width: 300px;
    word-wrap: break-word;
    background-color: aquamarine;
    list-style-type: none;
}

#task_list {}

button:hover {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    background-color: red;
}